@tailwind base;
@tailwind components;
@tailwind utilities;


.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__device-settings__button{
  background-color: #3B82F6;
}

.str-video__device-settings__button:hover{
  background-color: #2563EB;
}